[submodule "quickstart/themes/paper"]
	path = quickstart/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod/
